:root {
    --main-text-color: #212121;
    --secondary-text-color: #757575;
    --main-white-color: #FFFFFF;
    --action-color: #2196F3;
    --signature-color: rgba(255, 255, 255, 0.6);
    --footer-bg: #2F303A;
    --additional-bg: #F5F4FA;
    --border-line-color: #ECECEC;
    --secondary-border-line-color: #EEEEEE;
    --main-choice-color: #188ce8;
}

body {
    color: var(--main-text-color);
    background-color: var(--main-white-color);

    font-family: 'Roboto', sans-serif;  
    letter-spacing: 0.03em;
}

/* Utility */

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.links {
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header-main {
    border-bottom: 1px solid var(--border-line-color);
}

.logo-style {
    color: var(--action-color);
}

img {
    display: block;
}

/* Шапка */

.navigation,
.navigation-list,
.header-contacts-list{
    display: flex;
    align-items: center
}

.navigation-main {
    display: flex;
}

.navigation-list .item:not(:last-child) {
    margin-right: 50px;
}

.header-contacts-list {
    margin-left: auto;
}

.header-contacts-list .header-contacts-item:not(:last-child) {
    margin-right: 48px;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: var(--main-text-color);
    line-height: 1.2;
}

.header-logo {
    margin-right: 86px;
}

.navigation-link {
    color: var(--main-text-color);
}

.navigation-link.current,
.navigation-link:hover,
.navigation-link:focus,
.header-contacts-link:hover,
.header-contacts-link:focus,
.footer-links:hover,
.footer-links:focus,
.footer-address-links:hover,
.footer-address-links:focus {
    color: var(--action-color);
}

.header-contacts-link {
    color: var(--secondary-text-color);
}    
.navigation-link,
.header-contacts-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

/* Первая секция */

.hero {
    background-color: var(--footer-bg);
    text-align: center;
}

.hero-title {
    color: var(--main-white-color);
    margin-top: 0;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    
    text-transform: uppercase;

    min-width: 676px;
}

.btn {
    cursor: pointer;
    font-family: inherit;
    border-radius: 4px;
    border-style: none;
}

.hero-button {
    background-color: var(--action-color);
    color: var(--main-white-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    /* display: flex;
    align-items: center; */
    letter-spacing: 0.06em;
    min-width: 200px;
    padding: 10px 32px;
    /* display: block; */
    margin-bottom: 0;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--main-choice-color);
}


                  /* Вторая секция */


.benefits-list {
    display: flex;

    padding-top: 107px;
    padding-bottom: 94px;
}

.benefits-list .item {
    width: 270px;
}

.benefits-list .item + .item {
    margin-left: 30px;
}

.benefits-subtitle{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase; 
    margin-top: 0;
    margin-bottom: 10px;
}

.benefits-text {
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.7;
    margin-top: 0;
    margin-bottom: 0;
}

                    /* Третья секция */

.workflow-list {
    display: flex;
    padding-bottom: 94px;
}

.workflow-list .item + .item {
    margin-left: 30px;
}

.workflow-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}


                    /* Четвертая секция */

.team {
    background-color: var(--additional-bg);
}

.team-title {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 94px;
    margin-bottom: 50px;
    text-align: center;
}

.team-list {
    display: flex;
    padding-bottom: 94px;
}

.team-list .item + .item {
    margin-left: 30px;
}

.team-name {
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 500;
    margin-bottom: 10px;
}

.team-position {
    margin-bottom: 0;
    margin-top: 0;
    color: var(--secondary-text-color);
}

.team-list-content {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-color: var(--main-white-color);
    font-size: 16px;
    line-height: 1.18;
}

.item * {
    outline: 1px solid tomato;
}

                    /* Подвал на страницах */

.footer {
    background-color: var(--footer-bg);
}

.footer-address-text {
    color: var(--main-white-color);
    margin-top: 0;
    margin-bottom: 9px;
}

.footer-address-links {
    color: var(--signature-color);
    display: inline-block;
}

.footer-address-text,
.footer-address-links {
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
}

.footer-logo {
    display: inline-block;
    color: var(--main-white-color);
    margin-bottom: 20px;
    padding-top: 60px;
}

.footer-address {
    padding-bottom: 60px;
}

.footer-address-item {
    margin-bottom: 9px;
}

.footer-address-item:last-child {
    margin-bottom: 0;
}

                    /* Portfolio */


.portfolio-btn-list {
    display: flex;
    justify-content: center;

    padding-top: 94px;
    padding-bottom: 34px;
}

.portfolio-btn-button {
    background-color: var(--additional-bg);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    padding: 6px 22px;

}
.portfolio-btn-button:hover,
.portfolio-btn-button:focus {
    background-color: var(--action-color);
    color:var(--main-white-color);
}

.portfolio-btn-button.current {
    background-color: var(--action-color);
    color: var(--main-white-color);
}

.portfolio-card-list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 94px;
}

.portfolio-card-item {
    margin-right: 30px;
    margin-bottom: 30px;
}

.portfolio-card-item:nth-child(3n) {
    margin-right: 0;
}

.portfolio-card-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.portfolio-card-content {
    border-left: 1px solid var(--secondary-border-line-color);
    border-right: 1px solid var(--secondary-border-line-color);
    border-bottom: 1px solid var(--secondary-border-line-color);
    
    padding: 20px 24px;

    margin-top: 0;
    margin-bottom: 0;
}

.portfolio-card-subtitle {
    margin-top: 0;
    margin-bottom: 4px;
    color: var(--main-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-card-text {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--secondary-text-color);
    

    font-size: 16px;
    line-height: 1.87;
}